@use './variables' as *;
@use './mixins' as *;

.date {
    @include setFlex(row, center, center);
    gap: 15px;
    position: relative;

    &__day {
        @include setFlex(column, center, flex-start);
    }

    &__month {
        @include setFlex(column, center, flex-start);
    }

    &__year {
        @include setFlex(column, center, flex-start);
    }

    &__label {
        align-items: start;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: $smokey-grey;
    }

    &__input {
        padding: 0 10px;
        width: 100%;
        min-height: 50px;
        border: 1px solid $smokey-grey;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            border: solid 1px $purple;
        }
    }

    &__error {
        position: absolute;
        top: 75px;
        color: $light-red;
    }
}
