@use './reset';
@use './mixins' as *;
@use './variables' as *;
@use './date';
@use './arrow';
@use './age';

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins-Bold.ttf");
    src: url("/assets/fonts/Poppins-BoldItalic.ttf");
    src: url("/assets/fonts/Poppins-ExtraBold.ttf");
    src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
    src: url("/assets/fonts/Poppins-Italic.ttf");
    src: url("/assets/fonts/Poppins-Regular.ttf");
}

body {
    @include setFlex(row);
    min-height: 100vh;
    background-color: $off-white;
    font-family: "Poppins", sans-serif;
}

.main {
    @include setFlex(column);
    padding: 50px 30px;
    width: 320px;
    background-color: $white;
    border-radius: 20px 20px 80px 20px;
    @media (min-width: 992px) {
        width: 500px;
    }
}